@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bg-banner {
  background-image: url('/images/sidebar/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gradient-text {
  background: linear-gradient(to right, #ff009a, #4932e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-secondary-text {
  background: linear-gradient(to right, #f7deec, #6cdddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
